@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Lato', system-ui, sans-serif;
}

@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("../public/fonts/Lato-Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}